body{
  background-color: black;
  color: white;
  font-family: times;
}

h1{
  font-family: futura;
  text-align: center;
  margin-bottom: 100px;
}

#nav{

}

.links{
  margin-top: 90px;
}

#logo{
  width: 120px;
  height: 120px;
}

#bio{
  padding-left: 30px;
}

#about{
  background-color: white;
  width: 100%;
  height: auto;
  color: black;
  margin-top: 10px;
  padding-top: 150px;
  padding-bottom: 150px;
}

a{
  font-family: futura;
  font-size: 25px;
  color: #e5ad29;
}

#projects{
  height: 1200px;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-y: scroll
}

.PROJECTcontainer {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.PROJECTcontainer:hover .overlay {
  opacity: 90%;
}

.PROJECTtext {
  color: white;
  font-size: 30px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

#resumeBox {
  background-color: white;
  width: 100%;
  height: auto;
  color: black;
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

h2{
  font-family: Bodoni;
  text-align: left;
  color: #bd1e25;
  margin-bottom: 20px;
}

#pr2{
  margin-top: 30px;
  margin-bottom: 30px;
}

#skills{
  padding-left: 50px;
}

#contact{
  margin-top: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}

#footer{
  background-color: #bd1e25;
  width: 100%;
  height: auto;
  color: black;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}
